<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <connectionStrings>
    <add name="MyEnvironment_SCORCH_DB" connectionString="Server=SCORCH_SQL_SERVERNAME;Database=SCORCH_DB_NAME;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFileFormat" value="CMTrace"/>
    <add key="LogPurgeTrendDays" value="7"/>
    <add key="TimeZoneToUse" value="Central Standard Time"/>
    <add key="MyEnvironment_SCORCH Web Service" value="http://SCORCH_Webserver:81/Orchestrator2012/Orchestrator.svc"/>
    <add key="MyEnvironment_RB Start Monitors" value="Start Monitor Runbooks"/>
  </appSettings>
</configuration>